.review {
    background-color: var(--secondary-color-2);
    color: var(--secondary-color-4);
    padding: 2rem;

    & > h5 {
        margin-bottom: 1rem;
    }
    img {
        width: 50%;
        aspect-ratio: 1;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;;
    }

    .stars {
        color: var(--secondary-color-1);
        font-size: 1.5rem;
    }
}