.specials {
    margin: 4rem 0 4rem 0;
    gap: 2rem;

    & > h1 {
        grid-column: span 9;
    }
    & > button {
        grid-column: span 3;
        justify-self: end;
        align-self: center;
    }
    article {
        grid-column: span 4;
    }
}

@media (max-width: 1024px) {
    .specials {
        & > h1,
        & > button {
            grid-column: 1 / -1;
            justify-self: center;
            text-align: center;
        }
        article {
            grid-column: span 3;
        }
    }
}

@media (max-width: 599px) {
    .specials {
        article {
            grid-column: 1 / -1;
        }
    }
}