.call-to-action {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--primary-color-1);

    & > article {
        align-self: center;
        padding-bottom: 1rem;
    }
    & > img {
        grid-column: 2;
        width: 70%;
        aspect-ratio: 1;
        object-fit: cover;
        object-position: center;
        position: relative;
        top: 15%;
        align-self: center;
        justify-self: end;
    }

    h1 {
        color: var(--primary-color-2);
    }
    h2,
    p {
        color: var(--secondary-color-3);
    }
}