.booking-form {
    display: grid;
    gap: 20px;

    fieldset {
        display: flex;
        flex-direction: column;
        border: none;
        width: 200px;
    }
    button {
        max-width: 250px;
        margin: 2rem;
    }
    fieldset,
    button {
        grid-column: 1 / -1;
        justify-self: center;
    }
}