:root {
  --primary-color-1: #495E57;
  --primary-color-2: #F4CE14;
  --secondary-color-1: #EE9972;
  --secondary-color-2: #FBDABB;
  --secondary-color-3: #EDEFEE;
  --secondary-color-4: #333333;
  --rounded-corners: 16px;
  --app-padding: 0%;
}

/* CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Layout */
.container {
  display: grid;
  padding-left: var(--app-padding);
  padding-right: var(--app-padding);
}

/* Smartphone */
@media (max-width: 599px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Tablet and half-screen desktop*/
@media (min-width: 600px) and (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(6, 1fr);
    --app-padding: 5%;
  }
}

/* Desktop */
@media (min-width: 1025px) {
  .container {
    grid-template-columns: repeat(12, 1fr);
    --app-padding: 20%;
  }
}




/* Display Title */
h1,
.display-title {
  font-family: 'Markazi Text', serif;
  font-size: 64px;
  margin: 0;
}

/* SubTitle */
h2,
.sub-title {
  font-family: 'Markazi Text', serif;
  font-size: 40px;
  margin: 0;
}

/* Lead Text */
button,
nav > ul > li,
.lead-text {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

/* Section Title */
h3,
.section-title {
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
}

/* Week Specials / Section Categories */
h4,
.section-categories {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 800;
}

/* Card Title */
h5,
.card-title {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

/* Paragraph Text */
p,
.paragraph-text {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  max-width: 65rem;;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

/* Highlight Text */
span,
.highlight-text {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 500;
}



img {
  border-radius: var(--rounded-corners);
}

button {
  background-color: var(--primary-color-2);
  color: var(--secondary-color-4);
  border: none;
  border-radius: var(--rounded-corners);
  padding: 1rem 2rem;
  cursor: pointer;

  &:active {
    background-color: var(--primary-color-1);
    color: var(--secondary-color-3);
  }

  &:disabled {
    background-color: var(--secondary-color-1);
    color: var(--secondary-color-4);
  }
}
