:root {
  --primary-color-1: #495E57;
  --primary-color-2: #F4CE14;
  --secondary-color-1: #EE9972;
  --secondary-color-2: #FBDABB;
  --secondary-color-3: #EDEFEE;
  --secondary-color-4: #333333;
  --rounded-corners: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Display Title */
h1, .display-title {
  font-family: 'Markazi Text', serif;
  font-size: 64pt;
}

/* SubTitle */
h2, .sub-title {
  font-family: 'Markazi Text', serif;
  font-size: 40pt;
}

/* Lead Text */
.lead-text {
  font-family: 'Karla', sans-serif;
  font-size: 18pt;
  font-weight: 500;
}

/* Section Title */
h3, .section-title {
  font-family: 'Karla', sans-serif;
  font-size: 20pt;
  font-weight: 800;
  text-transform: uppercase;
}

/* Week Specials / Section Categories */
h4, .section-categories {
  font-family: 'Karla', sans-serif;
  font-size: 16pt;
  font-weight: 800;
}

/* Card Title */
h5, .card-title {
  font-family: 'Karla', sans-serif;
  font-size: 18pt;
  font-weight: bold;
}

/* Paragraph Text */
p, .paragraph-text {
  font-family: 'Karla', sans-serif;
  font-size: 16pt;
  line-height: 1.5;
}

/* Highlight Text */
span, .highlight-text {
  font-family: 'Karla', sans-serif;
  font-size: 16pt;
  font-weight: 500;
}

nav > ul > li {
  list-style: none;
  font-family: 'Karla', sans-serif;
  font-size: 18pt;
  font-weight: 500;
}

img {
  border-radius: var(--rounded-corners);
}

button {
  background-color: var(--primary-color-2);
  color: var(--secondary-color-4);
  border: none;
  border-radius: var(--rounded-corners);
  font-family: 'Karla', sans-serif;
  font-size: 18pt;
  font-weight: 500;
  padding: 1rem 2rem;
  cursor: pointer;

  &:active {
    background-color: var(--primary-color-1);
    color: var(--secondary-color-3);
  }

  &:disabled {
    background-color: var(--secondary-color-1);
    color: var(--secondary-color-4);
  }
}