nav ul {
    list-style: none;
    padding-left: 0;
    margin-block-start: 1rem;
    margin-block-end: 1rem;

    & a {
        text-decoration: none;
    }
    & a:hover {
        text-decoration: underline;
    }
}

.nav-header,
.social-media-links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.nav-footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.hamburger {
    font-size: 2rem;
    cursor: pointer;
    display: none;
    margin-right: 1rem;
    background: none;
    border: none;
    padding: 0;
}

@media (max-width: 599px) {
    .hamburger {
        display: block;
    }

    .nav-header {
        display: flex;
        flex-direction: column;
        background-color: var(--primary-color-1);
        border: var(--secondary-color-4) 1px solid;
        position: absolute;
        top: 2rem;
        right: -200px;
        width: 200px;
        padding: 1rem;
        transition: right 0.3s;

        a {
            color: var(--secondary-color-3);
        }
    }

    .nav-header.open {
        right: 0;
    }
}